.ItemsTable {
    table-layout: fixed;
    text-align: left;
    width: 100%;
    border-spacing: 0;
}

.ItemsTableWrapper {
    width: 525px;
    height: 575px;
    overflow-y: auto;
    border: 1px solid;
    box-sizing: border-box;
}

.ItemsTable-Row {
    height: 25px;
}

.ItemsTable-Row:nth-child(even):not(.ItemsTable-Row_selected) {
    background-color: var(--light-gray);
}

.ItemsTable-Row_selected {
    background-color: var(--selected-row);
    color: white;
}

.ItemsTable-Cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ItemsTable-Cell:first-child {
    border-right: 1px solid black;
}

.ItemsTable-Cell_type_header {
    border-bottom: 1px solid black;
    text-align: center;
}

.ItemsTable-Cell_type_header:first-child {
    border-right: 1px solid black;
}